.cardNews {
  width: 100%;
}
.card-textsss {
  text-align: center;
  font-size: 10px;
}
.img-fluidss {
  width: 100%;
  height: 150px;
}
@media screen and (max-width: 800px) {
  .img-fluidss {
    height:260px;
  }
  .card-textsss {
    text-align: center;
    font-size: 13px;
  }
}
