/*  */
.card-img-top {
  width: 100%;
  height: 150px;
}
.cardsLaptop {
  width: 234px;
  padding: 10px 20px;
  height: 400px;
}
.card-body {
  padding: 14px 17px;
}
.imageWrap {
  padding: 2px 15px;
  display: block;
}
.card-texts {
  font-size: 13px;
}
.reviewCards {
  font-weight: 400 !important;
  font-size: 10px;
  margin-left: 7px;
}
.card-newPrice {
  margin-bottom: 20px;
}

.cardsLaptop:hover {
  height: 400px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.25s ease;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.14);
}

.cardStrip {
  position: absolute;
  top: 10px;
  display: block;
  font-size: 10px;
}
.card-title{
  font-size: 11px;
}
.cardFavIcon {
  position: absolute;
  left: 84%;
  top: 10%;
  font-size: 15px;
  border: 2px solid gray;
  border-radius: 50px;
  line-height: 5px;
  padding: 5px;
  color: gray;
  cursor: pointer;
}
.cardChartIcon {
  position: absolute;
  left: 84%;
  border: 2px solid gray;
  border-radius: 50px;
  line-height: 5px;
  padding: 5px;
  cursor: pointer;
  top: 18%;
  color: gray;
  font-size: 15px;
}
.cardFavIcon:hover,
.cardChartIcon:hover {
  color: goldenrod;
}
.buttonCards {
  display: flex;
  flex-wrap: nowrap;
  display: none;
  flex-direction: column;
  align-items: center;
}
.cardsLaptop:hover > .buttonCards {
  display: flex;
}

.btnFonts {
  font-size: 12px;
  padding: 12px 25px;
}

.imageWrap1 {
  display: none;
}

.cardsLaptop:hover > .imageWrap {
  display: none;
}
.cardsLaptop:hover > .imageWrap1 {
  padding: 2px 15px;
  display: block;
}

.cardsCover {
  position: relative;
}
.img-fluids {
  width: 100%;
  height: 350px;
}

.overLayText {
  position: absolute;
  top: 30%;
  color: white;
  text-align: center;
  font-size: 2rem;
  padding: 20px;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  .overLayText {
    top: 18%;
    font-size: 3.4rem;
  }
}
