.addNew {
  color: gray !important;
  font-size: 14px;
  line-height: 21px;
  font-family: "Poppins";
  font-style: normal;
  border-bottom: 2px solid transparent;
}
.addNew:hover {
  color: black !important;
  cursor: pointer;
  transform: translateX(0px);
  transition: 0.5s;
  border-bottom: 2px solid rgba(1, 86, 255, 1);
  font-size: bold;
}

.addNewActive {
  color: black !important;
  cursor: pointer;
  transition: 0.5s;
  border-bottom: 2px solid rgba(1, 86, 255, 1);
  font-size: 700;
}

.noBorderWidth {
  width: 20%;
  float: right;
}
.d-blocks {
  position: fixed;
  top: 50px !important;
  width: 100%;
}
.bg-backGround {
  background: rgb(245, 247, 255);
  background: linear-gradient(
    90deg,
    rgba(245, 247, 255, 1) 0%,
    rgba(245, 247, 255, 1) 57%,
    rgba(255, 255, 255, 1) 57%
  );
}

.headingAbout {
  font-size: 25px;
  font-weight: 600;
}

.paraAbout {
  margin-top: 10px;
  color: black;
  opacity: 0.7;
  margin-right: 16%;
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .bg-backGround {
    background: rgb(251, 251, 251);
  }
  .paraAbout {
    margin-top: 10px;
    margin-right: 00px;
    font-size: 17px;
    /* justify-content: baseline; */
  }
}

.css-j4ndc3 {
  width: 40px !important;
  height: 40px !important;
  padding: 2px !important;
  font-size: 30px !important;
  border-radius: 50px !important;
}
.css-trkpwz {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  cursor: pointer;
}
.img-covers {
  transform: scale(1.2);
}
.d-flockWrapper {
  background-color: black;
}

.bgimage {
  width: 640px !important;
  height: 100%;
  /* background-color: black; fallback color */
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/bgImage.png");
}
.imageDiv {
  width: 100%;
  display: block;
  height: 340px;
}
@media screen and (min-width: 800px) {
  .imageDiv {
    height: 400px;
  }
}
@media screen and (max-width: 800px) {
  .bgimage {
    width: 400px !important;
  }
}

.backgroundFeatures {
  padding: 60px;
  width: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #242528 0%, #040404 100%);
}
.image-cart-tops {
  width: 170px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 20%;
  padding: 20px;
  background-color: black;
  border-radius: 50%;
  height: 170px;
}

.d-supportbox {
  /* padding: 30px; */
  width: 100%;
  height: 400px;
  background: linear-gradient(
    270deg,
    #f5f7ff 0%,
    #f5f7ff 66.67%,
    rgba(240, 242, 241, 0) 100%
  );
}
.newCard {
  position: relative;
  width: 380px;
  /* left: -10%;   */
  height: 100%;
  padding: 38px;
  margin-top: 40px;
  float: left;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
}

.threeCard {
  margin-top: 15px;
  cursor: pointer;
  padding: 10px 24px;
}
#myDIv {
  width: 656px;
  height: 400px;
  background-repeat: no-repeat;
  background-image: url("../../assets/coverSupport.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-clip: initial;
}
@media screen and (max-width: 800px) {
  .newCard{
    width: 100%;
  }
  #myDIv {
    width: 98vw;
    background-size: 500px 400px;
  }
}
