@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.bg-cards {
  background-color: #f5f7ff;
  padding:14px;
  margin-bottom: 20px;
}


a {
  color: black !important;
  
}