.newDark {
  background: #020202;
  padding: 10px;
  font-size: 12px;
  color: gray;
}
.bg-Dark {
  background-color: #020202 !important;
}
.navbar {
  background-color: #fff !important;
  border-bottom: 1px solid gray;
}

.nav-link {
  color: #020202 !important;
  font-weight: 550;
  font-size: 0.9em;
}

.nav-link i {
  font-size: 17px;
  margin-top: 7px;
  /* font-weig7t: 600; */
}
.carts{
  position: relative;
}
.cart-number {
  color: white;
  background-color: #0156FF;
  border: 1px;
  font-size: 10px;
  line-height: 5px;
  padding: 5px ;
  border-radius: 50px;
  position: absolute;
  top: 2px;
  width: 15px;
  height: 15px;
  left: 20px;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
